version: "3"
services:
    php:
      image: xiaoshangmin/php-fpm:7.4.2
      container_name: php
      ports:
        - "9000:9000"
      volumes:
        - ./php/etc/php/php.ini:/usr/local/etc/php/php.ini
        - ./php/etc/php-fpm.conf:/usr/local/etc/php-fpm.conf
        - ./php/etc/php-fpm.d/www.conf:/usr/local/etc/php-fpm.d/www.conf
        - ./logs/php:/var/log/php
        - ./www:/var/www/html 
    nginx:
      build: ./nginx
      container_name: nginx
      ports: 
        - "80:80"
        - "443:443"
      volumes: 
        - ./nginx/nginx.conf:/etc/nginx/nginx.conf
        - ./nginx/conf.d:/etc/nginx/conf.d
        - ./logs/nginx:/var/log/nginx
        - ./www:/var/www/html
    mysql:
      image: mysql:8.0.18
      container_name: mysql
      ports: 
        - "3306:3306"
      volumes: 
        - ./mysql/my.cnf:/etc/mysql/my.cnf
        - ./data/mysql:/var/lib/mysql
      environment:
        MYSQL_ROOT_PASSWORD: root
    redis:
      image: redis:5.0.7
      container_name: redis
      ports: 
        - "6379:6379"
      volumes: 
        - ./data/redis:/data
        - ./redis/redis.conf:/etc/redis.conf 