version: "3"
services:
  php:
    image: xiaoshangmin/php:7.4.9
    container_name: php
    restart: always
    ports:
      - "9000:9000"
      - "9501:9501"
    volumes:
      - ./php/etc:/usr/local/etc
      - ./php/etc/php/php.ini:/usr/local/etc/php/php.ini
      - ./php/etc/php-fpm.conf:/usr/local/etc/php-fpm.conf
      - ./php/etc/php-fpm.d/www.conf:/usr/local/etc/php-fpm.d/www.conf
      - ./logs/php:/var/log/php
      - ./www:/var/www/html 
  openresty:
    image: xiaoshangmin/openresty
    container_name: openresty
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/cert:/etc/nginx/cert
      - ./logs/nginx:/var/log/nginx
      - ./www:/var/www/html
  mysql:
    image: mysql:8.0.18
    container_name: mysql
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3306:3306"
    volumes:
      - ./mysql/my.cnf:/etc/mysql/my.cnf
      - ./mysql/conf.d:/etc/mysql/conf.d
      - ./data/mysql:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
  redis:
    image: redis:5.0.7
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - ./data/redis:/data
      - ./redis/redis.conf:/etc/redis.conf
  rabbitmq:
    image: xiaoshangmin/rabbitmq
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - ./data/rabbitmq:/var/lib/rabbitmq/mnesia
      - ./logs/rabbitmq:/var/log/rabbitmq
      - ./rabbitmq/etc/:/etc/rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin